@font-face {
    font-family: 'MADE';
    src: url('Assets/Fonts/MADE.OTF');
}

@font-face {
    font-family: 'NIMBUS';
    src: url('Assets/Fonts/Nimbus.otf');
}
body
{
    background-color: black;
    --spacing: 20px;
}


.headerText
{
    width: 100%;
    background-color: #ffea00;;
    margin-top: 10vh;
    box-sizing: border-box;
    color: black;
    font-family: 'MADE', sans-serif;
    font-size: 75px;
    text-align: center;
}

.softwareExperienceTitle
{
    width: 100%;
    margin: 0;
    margin-block: 20px;
    box-sizing: border-box;
    color: #ffea00;
    font-family: 'MADE', sans-serif;
    font-size: 35px;
    text-align: center;
}

/* DESKTOP VIEW */
@media (min-width: 900px)
{
    .subtitle
    {
        margin: 0;
        margin-top: 40px;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 45px;
        text-align: center;
    }
    
    .experienceList
    {
        margin: auto;
        width: fit-content;
        display: flex;
        grid-template-columns: 50% 50%;
        gap: 30px;
    }
    
    .experienceItem
    {
        width: fit-content;
        grid-template-columns: 50% 50%;
        margin: auto;
        margin-top: 0;
    }
    
    .experienceIcon
    {
        display: block;
        margin: auto;
        height: 150px;
    }

    .experienceName
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 40px;
        box-sizing: border-box;
        text-align: center;
        width:100%;
    }
    
    .experienceDate
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    
    .experienceText
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        width: 100%;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
    .aboutMeBar
    {
        width: 100%;
        height: fit-content;
    }

    .aboutMeGrid
    {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 100%;
        margin: auto;
        gap: 10px;
        width: 75%;
        height: 100%;
    }
    
    
    .aboutMeDescription
    {
        padding-left: 20px;
        width: 75%;
        margin: auto;
        margin: auto;
        height: fit-content;
        align-self: center;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 25px;
        text-align: center;
    }

    
}

/* MOBILE VIEW */
@media (max-width: 900px)
{
    .subtitle
    {
        margin: 0;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 40px;
        text-align: center;
    }
    
    .experienceList
    {
        margin: auto;
        width: fit-content;
    }
    
    .experienceItem
    {
        margin-top: 30px;
        width: fit-content;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    .experienceIcon
    {
        justify-self: center;
        align-items: flex-start;
        width: 125px;
    }
    
    .experienceName
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 40px;
        box-sizing: border-box;
    }
    
    .experienceDate
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 25px;
    }
    
    .experienceText
    {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
    }
    
    .aboutMe
    {
        margin: auto;
        height: 350px;
        margin-bottom: 10vh;
    }
    
    .aboutMePic
    {
        margin: auto;
        display: block;
        border-radius: 100%;
        width: 250px;
    }
    
    
    .aboutMeDescription
    {
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
        color:#ffea00;
        font-family: 'NIMBUS', sans-serif;
        font-size: 25px;
        text-align: justify;
    }
}