@font-face {
    font-family: 'MADE';
    src: url('Assets/Fonts/MADE.OTF');
}

::-webkit-scrollbar
{
    width: 1em;
}

::-webkit-scrollbar-thumb
{
    background-color:#ffea00;
    /* just make it rounded more or less. */
    border-radius: 9999px;
}


body
{
    background-color: black;
}
/* DESKTOP VIEW */
@media (min-width: 900px)
{
    .aboutSection
    {
        display: grid;
        margin-bottom: 5px;
        grid-template-rows: auto auto;
        height: fit-content;

        overflow: hidden;
    }

    .about
    {
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 35px;
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .globe
    {
        display: flex;
        align-self: end;
        justify-self: center;
        width: 50%;
    }

    .section
    {
        width: 75%;
        margin: auto;
        margin-top: 10px;
    }
}

/* MOBILE VIEW */
@media (max-width: 900px)
{
    body
    {
        --spacing: 20000px
    }

    .aboutSection
    {
        height: fit-content;
        margin-top: var(--spacing);
        overflow: hidden;
    }

    .about
    {
        margin: 0;
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 28px;
        text-align: center;
        overflow-wrap: unset;

        white-space: nowrap;
    }

    .globe
    {
        display:block;
        margin: auto;
        margin-top: var(--spacing);
        --size: 80%;
        width: var(--size);
    }

    .seeMyPortfolio
    {
        margin-left: min(10vw, 100px);
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 28px;
        width:fit-content;
    }

    .portoflioLink
    {
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 40px;
        text-decoration: none;
        display: flex;
    }

    .portoflioLinkText
    {
        color:#ffea00;
        font-family: 'MADE', sans-serif;
        font-size: 40px;
        text-decoration: underline;
    }

    .portfolioArrow
    {
        float:right;
        height: 50px;
        transform: rotate(-135deg);
    }
}
.ZeroRightsReserved
{
    margin: 0;
    text-align: right;
    padding-right: 15px;
    color:#ffea00;
    font-family: 'MADE', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.underPage
{
    height: 25px;
    padding-left: 15px;
    display:grid;
    grid-template-columns: 50% 50%;
}

.arrowGroup
{
    margin: 0;
    padding: 0;
}

.arrow
{
    width: 25px;
}